.projects-section .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
.projects-section .project {
  background-color: #2c2c6c;
  padding: 1em 1em 2em 1em;
  border-radius: 1em;
  border: 1px solid transparent;
  transition: var(--transition);
}
.projects-section .project:hover {
  background-color: transparent;
  border-color: #2c2c6c;
}
.projects-section .project img {
  border-radius: 1em;
}
.projects-section .project p {
  margin: 1em 0 2em 0;
}
.projects-section .btns {
  justify-content: flex-start;
  margin-bottom: 0.5em;
}
@media (max-width: 1200px) {
  .projects-section .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }
}
@media (max-width: 700px) {
  .projects-section .projects {
    gap: 2em;
  }
}
@media (max-width: 670px) {
  .projects-section .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
